@import "~uview-ui/index.scss";
@import "layout";

.qiun-padding{padding:2%; width:96%;}
.qiun-wrap{display:flex; flex-wrap:wrap;}
.qiun-rows{display:flex; flex-direction:row !important;}
.qiun-columns{display:flex; flex-direction:column !important;}
.qiun-common-mt{margin-top:10upx;}
.qiun-bg-white{background:#FFFFFF;}
.qiun-title-bar{width:96%; padding:10upx 2%; flex-wrap:nowrap;}
.qiun-title-dot-light{
  border-left: 10upx solid #0ea391;
  padding-left: 10upx;
  font-size: 32upx;
  color: #000000
}
.qiun-charts{width: 750upx; height:500upx;background-color: #FFFFFF;}
.charts{width: 750upx; height:500upx;background-color: #FFFFFF;}

.fixed {
  position: fixed;
}
.container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.padding-btn{
  display: block;
  padding: 15rpx 30rpx;
}


.btn{
  font-size: 32upx;
  height: 88rpx;
  line-height: 88rpx;
  .u-size-default, &.u-size-default{
    color: #fff!important;
    border-radius: 88upx;
    margin-top: 30upx;
    &::after{
      border: none!important;
    }
  }
}

.lzy-cell-group{
  .u-cell-title{
    font-size: 32upx;
    font-weight: bold;
    padding-bottom: 30upx!important;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 8rpx;
      height: 125rpx;
      border-radius: 6rpx;
      background: #39D5E3;
      transform: translateY(-25%);
    }
  }
}

.confirm-btn {
  .u-size-default, &.u-size-default{
    background: linear-gradient(to right, #52D1FF 0%, #5C77FF 100%);
  }
}


.normal-btn {
  .u-size-default, &.u-size-default{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  }
}

